In [15]:
import pandas as pd

In [8]:
df = pd.read_csv("/Users/ivan/Downloads/data.csv", sep=';')

In [11]:
print(f"Размер датасета: {df.shape[0]} строк, {df.shape[1]} столбцов")

Размер датасета: 3322 строк, 6 столбцов

# Приступлю к EDA

Посмотрим на данные

In [12]:
df.head(10)

  Показатель            Отдел       Вид      Период Значение_1 Значение_2
0       А_07  ПОДРАЗДЕЛЕНИЕ 1  СЕРВИС 1  31.01.2019      0,843      0,020
1       А_07  ПОДРАЗДЕЛЕНИЕ 1  СЕРВИС 1  28.02.2019      0,843      0,009
2       А_07  ПОДРАЗДЕЛЕНИЕ 1  СЕРВИС 1  31.03.2019      0,932      0,012
3       А_07  ПОДРАЗДЕЛЕНИЕ 1  СЕРВИС 1  30.04.2019      0,826      0,005
4       А_07  ПОДРАЗДЕЛЕНИЕ 1  СЕРВИС 1  31.05.2019      0,671      0,000
5       А_07  ПОДРАЗДЕЛЕНИЕ 1  СЕРВИС 1  30.06.2019      0,697      0,000
6       А_07  ПОДРАЗДЕЛЕНИЕ 1  СЕРВИС 1  31.07.2019      1,000      0,038
7       А_07  ПОДРАЗДЕЛЕНИЕ 1  СЕРВИС 1  31.08.2019      0,887      0,097
8       А_07  ПОДРАЗДЕЛЕНИЕ 1  СЕРВИС 1  30.09.2019      0,897      0,155
9       А_07  ПОДРАЗДЕЛЕНИЕ 1  СЕРВИС 1  31.10.2019      0,877      0,221

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3322 entries, 0 to 3321
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Показатель  3322 non-null   object
 1   Отдел       3322 non-null   object
 2   Вид         3322 non-null   object
 3   Период      3322 non-null   object
 4   Значение_1  3318 non-null   object
 5   Значение_2  3319 non-null   object
dtypes: object(6)
memory usage: 155.8+ KB

## Видно, что тип даты object, хорошо бы сделать datetime для работы с датой

## Для удобства работы лучше переименовать столбцы на английский

In [14]:
df.describe(include='all').T

           count unique              top  freq
Показатель  3322    123             А_07    36
Отдел       3322     13  ПОДРАЗДЕЛЕНИЕ 2   667
Вид         3322    123         СЕРВИС 1    36
Период      3322     36       31.12.2021   122
Значение_1  3318    863            0,000   858
Значение_2  3319    829            0,000  1130

In [29]:
rename = {
    'Показатель': 'indicator',
    'Отдел':'department',
    'Вид':'category',
    'Период':'period',
    'Значение_1':'value_1',
    'Значение_2':'value_2'
}
df.rename(columns=rename_map, inplace=True)

In [30]:
df.columns

Index(['indicator', 'department', 'category', 'period', 'value1', 'value2'], dtype='object')

## Интересно какова доля пропусков в данных, ежели имеются

In [33]:
# Процент пропусков в каждом столбце
def miss(data):
    return (data.isna().sum() / len(data)) * 100

miss(df)

indicator     0.000000
department    0.000000
category      0.000000
period        0.000000
value1        0.120409
value2        0.090307
dtype: float64

In [19]:
## 3. Преобразование данных

### 3.1 Преобразование столбца с датами
# Столбец `Период` содержит даты в формате `DD.MM.YYYY`. Преобразуем его в datetime.
# Конвертация в datetime (dayfirst=True для формата день.месяц.год)
df['Период'] = pd.to_datetime(df['Период'], dayfirst=True)

In [20]:
# Проверим результат
df['Период'].dtype, df['Период'].head()

(dtype('<M8[ns]'),
 0   2019-01-31
 1   2019-02-28
 2   2019-03-31
 3   2019-04-30
 4   2019-05-31
 Name: Период, dtype: datetime64[ns])

In [24]:
### 3.2 Переименование столбцов для удобства
# Переименуем столбцы на английские, чтобы код был более читаем.

In [25]:
# Убедимся в изменениях

Index(['indicator', 'department', 'category', 'period', 'value1', 'value2'], dtype='object')